<section id="home">
  <div class="container-fluid">
    <div class="container" style="padding-bottom: 25px; padding-top: 25px; padding-left: 0px; margin-left: 0px; margin-bottom:25px;">
      <app-alert></app-alert>
      <b style="float:left">Recommended Deals:</b>      
    </div>

    <div class="row">
      <div *ngIf="!products" class="m-auto">
        <h1 class="text-center display-3 mt-5">
          <i class="fa fa-refresh fa-spin"></i>
        </h1>
      </div>

      <div class='col-md-3 mb-5' *ngFor="let product of products">
        <a data-toggle="modal" data-target="#basicExample" (click)="productDetails(product.id);frame.show()"
          mdbWavesEffect>
          <div class="card bg-light">
            <img class='product-image' src='' alt='Image' />
            <div class="card-body">
              <h3>
                <span id='en'>{{product.title}}</span>
              </h3>
            </div>
          </div>
        </a>
      </div>

      <div mdbModal #frame="mdbModal" class="modal fade" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-7">
                  <div *ngIf="!productData" class="m-auto">
                    <h1 class="text-center display-3 mt-5">
                      <i class="fa fa-refresh fa-spin"></i>
                    </h1>
                  </div>
                  <h2 class="h2-responsive product-name">
                    <strong *ngIf="productData">{{productData.title}}</strong>
                  </h2>
                  <h4 class="h4-responsive">
                    <span class="green-text">
                      <strong *ngIf="productData">{{productData.description}}</strong>
                    </span>
                  </h4>
                  <h4 class="h4-responsive">
                    <span class="green-text">
                      Price: <strong *ngIf="productData">{{productData.price}}</strong>
                    </span><br />
                    <span class="green-text">
                      Review: <strong *ngIf="productData">{{productData.reviews}}</strong>
                    </span><br />
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
