<section id="registrationPage" style="padding:20px;">
  <app-alert></app-alert>
  <div class="manager-modal">
    <h2 class="cart-header" style="margin-left:15px;"> Manager Dashboard
      <button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" (click)="frame.show(); clearForm()"
        mdbWavesEffect>Add Product</button>
    </h2>
    <hr />
    <div class="table-wrapper table-responsive-md">
      <table class="table table-hover mb-0">
        <thead>
          <tr>
            <th> # </th>
            <th class="th-lg">
              <a (click)="sortBy('name')">Name
                <mdb-icon icon="sort" class="ml-1"></mdb-icon></a>
            </th>
            <th class="th-lg">
              <a (click)="sortBy('quantity')">Quantity
                <mdb-icon icon="sort" class="ml-1"></mdb-icon></a>
            </th>
            <th class="th-lg">
              <a (click)="sortBy('price')">Price
                <mdb-icon icon="sort" class="ml-1"></mdb-icon></a>
            </th>
            <th class="th-lg">
              <a (click)="sortBy('tax')">Tax
                <mdb-icon icon="sort" class="ml-1"></mdb-icon></a>
            </th>
            <th class="th-lg"> Action </th>
          </tr>
        </thead>
        <tbody *ngIf='products'>
          <tr *ngFor="let product of products.products; let i = index;">
            <td>{{i+1}}</td>
            <td>{{product.title}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price}}</td>
            <td>{{product.tax}}</td>
            <td>
              <button type="button" mdbBtn color="primary" class="ml-4 waves-light" data-toggle="modal" (click)="frame2.show(); getProductReview(product._id);"
                mdbWavesEffect>Comments</button>
              <button type="button" mdbBtn color="primary" class="ml-4 waves-light" data-toggle="modal" (click)="frame.show();editProduct(product._id)"
                mdbWavesEffect>Edit</button>
              <button type="button" mdbBtn color="danger" class="ml-4 waves-light" data-toggle="modal" (click)="frame1.show(); deleteProductId(product._id)"
                mdbWavesEffect>Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Add / Update Product -->
  <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!--Header-->
        <div class="modal-header text-center">
          <p class="modal-title w-100 font-weight-bold">{{modelTitle}} </p>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 *ngIf="error" style="color:red"><b> {{msg}} </b></h3>
        </div>

        <!--Body-->
        <div class="modal-body mx-3">
          <input type="hidden" [formControl]="formId">
          <div class="md-form mb-5">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="form34" class="form-control validate" mdbInputDirective [formControl]="formTitle">
            <label data-error="wrong" data-success="right" for="form34"> Title </label>
          </div>

          <div class="md-form mb-5">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="file" id="form34" class="form-control validate" mdbInputDirective (change)="handleFileInput($event.target.files)">
            <label data-error="wrong" data-success="right" for="form34"></label>
          </div>

          <div class="md-form mb-5">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="form34" class="form-control validate" mdbInputDirective [formControl]="formDescription">
            <label data-error="wrong" data-success="right" for="form34"> Description </label>
          </div>

          <div class="md-form mb-5">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="form34" class="form-control validate" mdbInputDirective [formControl]="formPrice">
            <label data-error="wrong" data-success="right" for="form34">Price</label>
          </div>

          <div class="md-form mb-5">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="form34" maxlength=3 class="form-control validate" mdbInputDirective [formControl]="formTax">
            <label data-error="wrong" data-success="right" for="form34">Tax</label>
          </div>

          <div class="md-form mb-5">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="form34" class="form-control validate" mdbInputDirective [formControl]="formQuantity">
            <label data-error="wrong" data-success="right" for="form34">Quantity</label>
          </div>

          <div class="modal-footer justify-content-center">
            <a *ngIf="add" type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="addProduct()">
              Add Product
              <i class="fa fa-paper-plane ml-1"></i>
            </a>
            <a *ngIf="!add" type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect (click)="updateProduct();">
              Update Product
              <i class="fa fa-paper-plane ml-1"></i>
            </a>
            <a type="button" mdbBtn color="primary" outline="true" class="waves-effect" data-dismiss="modal"
              #dismissFrame mdbWavesEffect (click)="frame.hide()">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div mdbModal #frame1="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
      <div class="modal-content text-center">
        <div class="modal-header d-flex justify-content-center">
          <p class="heading">Are you sure?</p>
        </div>

        <div class="modal-body">
          <i class="fa fa-times fa-4x animated rotateIn"></i>
        </div>

        <div class="modal-footer flex-center">
          <a type="button" mdbBtn color="danger" outline="true" class="waves-effect" mdbWavesEffect (click)="deleteProduct();frame1.hide()">Yes</a>
          <button type="button" mdbBtn color="primary" outline="true" class="waves-light" mdbWavesEffect data-dismiss="modal"
            #dismissFrame1 (click)="frame1.hide()">Close</button>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>

  <div mdbModal #frame2="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel2" aria-hidden="true" style="overflow:auto;">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center">
          <p class="heading">Comments</p>
        </div>

        <div class="mt-5 ml-lg-5">
          <div class="reviews" *ngIf="!productReview">
            <p> No Comment Found</p>
          </div>
          <div class=" reviews" *ngIf="productReview && productReview.reviews">
            <div *ngFor="let review of productReview.reviews" class="review">
              <div class="p-3">
                <img [src]="review.owner.picture" alt="poster" width="75px" class="rounded-circle">
                <p class="lead d-inline ml-3">{{ review.owner.name }}</p>
                <ngb-rating [(rate)]="review.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
                <p class="mt-3">{{ review.description }}</p> {{review.create | date:'medium'}}
                <br />
                <p lass="mt-3">Visibility</p>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" name="commentIDRadio{{review._id}}" id="commentID{{review._id}}"
                    checked mdbInputDirective [checked]="review.visibility == true" (click)="changeCommentStatus(review._id, 1);">
                  <label class="custom-control-label" for="commentID{{review._id}}">Yes</label>
                </div>

                <!-- Default checked -->
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" class="custom-control-input" name="commentIDRadio1{{review._id}}" id="commentID1{{review._id}}"
                    mdbInputDirective [checked]="review.visibility == false" (click)="changeCommentStatus(review._id, 0);">
                  <label class=" custom-control-label" for="commentID1{{review._id}}">No</label>
                </div>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<ng-template #t let-fill="fill">
  <span *ngIf="fill === 100" class="star full">&#9733;</span>
  <span *ngIf="fill === 0" class="star">&#9733;</span>
  <span *ngIf="fill < 100 && fill > 0" class="star">
    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
  </span>
</ng-template>
