<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/">
      <img src="../assets/logo.ico" alt="logo" id="logo" height="30"> Lab5
    </a>
  </mdb-navbar-brand>

  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>About</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="isManager && token">
        <a routerLink="/admin/users" class="nav-link">
          <i class="fa fa-user" aria-hidden="true"></i> Users
        </a>
      </li>
      <li class="nav-item" *ngIf="isManager && token">
        <a routerLink="/admin/products" class="nav-link">
          <i class="fa fa-user" aria-hidden="true"></i> Products
        </a>
      </li>

      <li class="nav-item" *ngIf="!isManager && token">
        <a routerLink="/collection" class="nav-link">
          <i class="fa fa-star" aria-hidden="true"></i> Collection
        </a>
      </li>

      <li class="nav-item dropdown btn-group" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <i class="fa fa-user mr-1"></i>
          <span *ngIf="!token">Accounts</span>
          <span *ngIf="user.user">{{ user.user.name }}</span>
        </a>

        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a *ngIf="token" class="dropdown-item waves-light" routerLink="/profile">
            <i class="fa fa-user-circle" aria-hidden="true"></i> Profile
          </a>
          <a *ngIf="!token" class="dropdown-item waves-light" routerLink="/login">
            <i class="fa fa-key" aria-hidden="true"></i> Login
          </a>
          <a *ngIf="token" class="dropdown-item waves-light" (click)="logout();">
            <i class="fa fa-key" aria-hidden="true"></i> Logout
          </a>
          <a *ngIf="!token" class="dropdown-item waves-light" routerLink="/register">
            <i class="fa fa-group" aria-hidden="true"></i> Register
          </a>
        </div>
      </li>
      <li class="nav-item" *ngIf="!isManager">
        <a *ngIf="token" (click)="collapse()" routerLink="/cart" routerLinkActive="active" class="nav-link">
          <i class="fa fa-shopping-cart mr-1"></i> Cart
          <span class="badge badge-warning ml-1">0</span>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="http://vatsalshah.in"> Vatsal Shah</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
