<nav class="navbar navbar-expand-md bg-main" style="border-bottom:1px solid;">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">
      <img src="../assets/logo.ico" alt="logo" id="logo" style="width:50px;"> Lab5
    </a>
    <button class="navbar-toggler" (click)="isCollapsed = !isCollpased">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngIf="isManager">
      <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" style="cursor:pointer">
          <li class="nav-item" ngbDropdown #dropdown="ngbDropdown">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle>
              <i class="fa fa-user mr-1"></i>
              <span *ngIf="!token">Accounts</span>
              <span *ngIf="user.user">{{ user.user.name }}</span>
            </a>
            <div ngbDropdownMenu class="dropdown-menu">
              <a *ngIf="token" (click)="closeDropdown(dropdown);collapse();" routerLink="/profile" class="dropdown-item">
                <i class="fa fa-user-circle" aria-hidden="true"></i> Profile
              </a>
              <a *ngIf="!token" (click)="closeDropdown(dropdown);collapse();" routerLink="/login" class="dropdown-item">
                <i class="fa fa-key" aria-hidden="true"></i> Login
              </a>
              <a *ngIf="token" (click)="closeDropdown(dropdown);collapse();logout();" class="dropdown-item">
                <i class="fa fa-key" aria-hidden="true"></i> Logout
              </a>
              <a *ngIf="!token" (click)="closeDropdown(dropdown);collapse();" routerLink="/register" class="dropdown-item">
                <i class="fa fa-group" aria-hidden="true"></i> Register
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a *ngIf="token" (click)="collapse()" routerLink="/cart" routerLinkActive="active" class="nav-link">
              <i class="fa fa-shopping-cart mr-1"></i> Cart
              <span class="badge badge-warning ml-1">0</span>
              <!-- *ngIf="data.cartItems" -->
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="!isManager">
      <ul class="navbar-nav" style="cursor:pointer">
        <li class="nav-item">
          <a routerLink="/admin/users" style="margin-right:30px;">
            <i class="fa fa-user" aria-hidden="true"></i> Users
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/products">
            <i class="fa fa-key" aria-hidden="true"></i> Products
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<router-outlet></router-outlet>

<footer id=" main-footer " class="bg-main text-white mt-5 p-5 ">
  <div class="container ">
    <p class="lead text-center ">Copyright &copy; 2018 Vatsal Shah</p>
  </div>
</footer>
